//////////// Start Colors //////////
$main-color: #11044c;
$first-main-color: #91218c;
$second-main-color: #29abe2;

//// Start Color Palettes
$dark-color: #1c252c;
$alt-dark-color: #58545b;
$mid-color: #b7a7ae;
$alt-light-color: #e1d5d9;
$light-color: #f6f2f6;
//// End Color Palettes

/////////// Start Text //////////////
$light-text-color: #fff;
$dark-text-color: #000;
/////////// End Text ///////////////

/////////// Start Background //////////////
$background-color: #ececec;
$dark-text-color: #000;
/////////// End Background ///////////////

//////////// End Colors ////////////

/////////// Start Transition /////////
$main-transition: 0.3s all ease;
/////////// End Transition ///////////

